﻿@model IEnumerable<Bacchus.Models.Bid>

@{
    ViewBag.Title = "Pakkumised";
}

<h2>Pakkumised</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Toode")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.LastName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Tagasi pakkumiste nimekirja juurde", "Index", "Products")
</div>