﻿@model IEnumerable<Bacchus.Models.Product>

@{
    ViewBag.Title = "Bacchus oksjonid";
}

<h2>Bacchus oksjonid</h2>

@using (Html.BeginForm())
{
    <p>
        Vali kategooria järgi: @Html.DropDownList("searchCategory", null, "", htmlAttributes: new { @class = "form-control", optionLabel = "" })
        <input type="submit" value="Otsi" />
    </p>
}


@if (TempData["SavedMessage"] != null)
{
    <h5 style="color:red;">@TempData["SavedMessage"]</h5>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Toode")
        </th>
        <th>
            @Html.DisplayName("Kirjeldus")
        </th>
        <th>
            @Html.DisplayName("Pakkumise lõpukuupäev")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BiddingEndDate)
            </td>
            <td>
                @Html.ActionLink("Tee pakkumine", "Create", "Bids", new { productId = item.Id }, new { @class = "btn btn-success", @stype = "color: lightblue" })
            </td>
        </tr>
    }

</table>
